body {
    background-color: #121212;
}

.title-text {
    display: flex;
    justify-content: center;
}

.text {
    color: #CCCCCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}